/* this module will hold all the simple 
    micro interactions on the webpage with css
*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes balls {
  0% {
    opacity: 0.2;
    transform: translateY(20px);
  }
  25% {
    opacity: 0.4;
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.6;
  }
  75% {
    transform: translateY(0px);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}
